body{
  background-color: black;
}
#banner{
  margin:0 auto;
  display: flex;
}
.noedge{
  width: 80%;
  margin: 0 auto;
}
.notes{
  display: flex;
}
.note{
  color: red;
  flex: 1;
  text-align: center;
  font-size: 7em;
  font-weight: bold;
  background-color: yellow;
  margin: 0 5px;

}
.place{
  color: yellow;
  text-align:center;
  flex:1;
  font-size: 2em;
  margin:inherit;
}
.news{
  color: yellow;
  text-align: center;
  background-color: red;
  width: 60%;
  margin: 0 auto;
  margin-top: 10;
  margin-bottom: auto;

}
.places{
  color: yellow;
  text-align: center;
  flex: 1;
  font-size: 2em;
  border-top: 5px;
  margin:inherit;

}
#info{
  font-size: 50px;
  color: yellow;
  text-align: center;
}
.words{
  color: yellow;
  text-align: center;

}
#dojo{
  height:300px;
  width:500px;
}
#shamrock{
  display: flex;

}
#sham{
  flex: 1;
}
#rock{
  flex: 1;
}
nav{
    height: 60px;
    display: flex;

}
nav > a{
    font-family: 'Kavivanar', cursive;
    flex: 1;
    text-align: center;
    text-decoration: none;
    color: red;
    font-weight: 700;
    font-size: 2em;
}
